<launch>
  <include file="$(find thomas_sensor_platform)/launch/imu.launch"/>
  <include file="$(find thomas_sensor_platform)/launch/stereo.launch"/>
  <include file="$(find thomas_sensor_platform)/launch/lidar.launch"/>
  <include file="$(find thomas_sensor_platform)/launch/rtk_gps.launch"/>
</launch>
